<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Estimado/a , </h1>
    <p>Gracias por contactarte con MB-Contable</p>
    <p>Analizaremos su consulta y nos contactaremos con usted a la brevedad.</p>
    <p>Atentamente, MB-Contable</p>
  </body>
</html>